* {
  margin: 0;
  padding: 0;
}
#app {
  width: 100%;
  overflow-y: hidden;
}
.box {
  margin-bottom: 20px;
}
.title {
  padding: 10px;
  box-sizing: border-box;
  background-color: deepskyblue;
  color: #fff;
}
.cell {
  display: flex;
  width: 100%;
  border-bottom: 1px solid #e1e1e1;
  box-sizing: border-box;
  padding: 10px;
}
.cell > div {
  display: flex;
  font-size: 14px;
  flex-wrap: wrap;
}
.cell__title {
  flex-grow: 1;
  flex-shrink: 1;
}
.cell__details {
  flex-grow: 0;
  flex-shrink: 0;
  min-width: 100px;
  justify-content: flex-end;
}
.settings {
  padding: 10px;
  font-size: 14px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
}
.settings > div {
  background-color: deepskyblue;
  display: inline-block;
  padding: 5px;
  border-radius: 10px;
  color: #fff;
  font-size: 12px;
}
.btn {
  font-size: 14px;
  display: flex;
  justify-content: center;
  padding: 20px 10px 0 10px;
  color: deepskyblue;
}
